* {
    margin: 0;
}
body {
    width: 100vw;
    height: 1000px;
    display: flex;
    justify-content: center;
}
header {
    width: 100vw;
}
.fundo {
    width: 100%;
}
.fundo-flor {
    position: fixed;
    width: 100vw;
    height: 100%;
    z-index: -1;
}
.inicio {
    display: flex;
    justify-content: center;
    height: 99vh;
    width: 100vw;
}
.nome1 {
    text-align: left;
    margin: 0;
}
.nome2 {
    text-align: center;
    margin: 0;
}
.nome3 {
    text-align: right;
    margin: 0;
}
.menu1 {
    width: 100vw;
    height: 100px;
    background-color: hsl(91, 24%, 65%, 0.8);
}
.countdown {
    text-align: center;
    color: white;
}
  
.timer {
    font-size: 24px;
    margin-top: 20px;
}
.menu2 {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 550px;
    background-color: hsl(0, 0%, 100%, 0.7);
}
.menuesq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 100px;
}
.menudir {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.icone {
    width: 305px;
    height: 255px;
}
.menu2text {
    margin-bottom: 20px;
}
h2 {
    font-size: 35px;
    margin-bottom: 20px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 0;
}
.botaomenu2 {
    margin-top: 0px;
    width: 180px;
    height: 40px;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    background-color: #b1aeaf;
    border-radius: 20px;
    cursor: pointer;
}
.botaomenu2:hover {
    transform: scale(1.1);
}
.botaomenu2-2 {
    margin-top: 0px;
    width: 180px;
    height: 40px;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    background-color: #b1aeaf;
    border-radius: 20px;
    cursor: pointer;
}
.botaomenu2-2:hover {
    transform: scale(1.1);
}
.container-fotos {
    display: flex;
    flex-direction: column;
}
.nos {
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
.album {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.albumfotos {
    flex: 1;
    flex-direction: row;
}
.fotos {
    flex: 1;
    margin: 5px;
    width: 200px;
    height: 200px;
    border: 1px solid black;
}
.fotos:hover {
    transform: scale(1.1);
}
.menu3 {
    margin-top: 20px;
    width: 100vw;
    height: 260px;
    background-color: hsla(91, 24%, 65%, 0.8);
}
.presente {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.textopresente {
    margin-bottom: 20px;
    color: white;
    font-weight: lighter;
    font-size: 25px;
}
.botaopresente {
    width: 165px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    color: #a5bb90cc;
    background-color: white;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.botaopresente:hover {
    transform: scale(1.05);
}
.menu4 {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 150px;
    background-color: hsl(0, 0%, 100%, 0.7);
}
.menu4-1 {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 150px;
    background-color: hsl(0, 0%, 100%, 0.7);
}
.menu2text2 {
    margin-top: 20px;
    text-align: center;
}

@media (max-width: 1000px) {
    .fundo {
        width: 100vw;    
    }
    .fundo-flor {
        width: auto;
        height: auto;
        z-index: -1;
    }
    .inicio1 {
        height: 99vh;
        width: 100vw;
    }
    .timer {
        font-size: 20px;
    }
    h1 {
        font-size: 30px;
    }
    .menu2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 850px;
    }
    .menuesq {
        display: flex;
        flex-direction: column;
        align-self: center;
        text-align: center;
        margin-right: 0px;
    }
    .menudir {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .icone {
        width: 180px;
        height: 180px;
    }
    .container-fotos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .album {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .albumfotos {
        margin-right: 0;
    }
    .fotos {
        margin: 5px;
        width: 120px;
        height: 120px;
        border: 1px solid black;
        margin: 0;
    }
}